@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    @* <meta name="viewport" content="width=device-width" /> *@
    <title>Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="js/menu.js"></script>
    <link rel="stylesheet" href="css/menu.css">

    <style type="text/css">
        .TitleText {
            text-align: center;
            font-weight: bolder;
            font-size: 40px;
            color: #5C5C5C;
            text-shadow: -2px -2px 0px #333333, 1px 1px 0px #666666;
        }

        .tblhd {
            background: #ade3ef;
            font-weight: bolder;
        }

        #div_result {
            text-align: center;
            color: blue;
            font-size: 16px;
            padding-left: 700px;
            padding-top: 30px;
        }

        * {
            box-sizing: border-box;
        }

        body {
            padding: 2.5em;
            background-color: #dfeff7;
        }

        
    </style>

    <script>
        $(document).ready(function () {
            GetMenuRootsV3();
        });
    </script>

    </head>
    <body>
        <div id="mainDiv" class="container-fluid">
            <div id="menubarboss" class="row" style="display:block;position:absolute;top:10px;border-style:solid;border-width:3px;">
                <div id="menubar" class="col-sm-12 col-md-12" style="padding: 5px 5px 5px 5px;">
                </div>
            </div>
            <div class="row" style="margin-top:100px;">
                <div class="col-sm-12 col-md-12" style="text-align:center;">
                    <span class="TitleText">Support Utility V4</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12" style="text-align:center;">
                    <button onclick="GetMenuRootsV3()" style="font-size:26px;background:purple;color:white;font-weight:bold;display:none;">Get Menu Roots V3</button>
                </div>
            </div>
        <div id="menubuttdiv" ><button id="menubutt" style="height:30px;border-radius:10px;" onclick="hidemenu()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" /></svg></button></div>
        </div>
        <div id="secret" style="display:none;position:absolute;top:700px;border-style:solid;border-width:3px;" class="row">
            <div class="col-sm-12 col-md-12">
                <div id="menuitems" style="display:block;>..</div>
                <div id="txtRootItems"></div>
                <div id="txtRoots"></div>
                <div id="menuRootsJson"></div>
            </div>
        </div>
    </body>
</html>